
@media (min-width: 1200px) {
    .mainContainer{
        display: flex;
        flex-direction: row;
    }
    .form{
        min-width: 30%;
        max-width: 30%;
        padding: 1%;
        padding-top: 0%;
        height: fit-content;
        display: flex;
        flex-direction: column;
    }
    .error{
           width: 100%;
           font-weight: bold;
           display: flex;
           text-align: center;
    }
    .textArea{
        width: 100%;
    }
    .showDeck{
        min-width: 60%;
    }
}
@media (max-width: 1199px) {
    .mainContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .form{
        width: 100%;
        height: fit-content;
    }
}