.aviso{
    border: 2px rgb(255, 217, 0) groove;
    color: rgb(255, 217, 0);
    max-width: max-content;
    padding: 5px;
    box-shadow:
        0 0 5px #ff0000,
        0 0 5px #fff,
        0 0 5px #ff2828,
        0 0 5px #ff4646;
}
.importante{
    border: 2px rgb(223, 7, 0) groove;
    color: rgb(223, 7, 0);
    max-width: max-content;
    box-shadow:
        0 0 5px #ff0000,
        0 0 5px #fff,
        0 0 5px #ff2828,
        0 0 5px #ff4646;
    padding: 5px;
}
.advice{
    text-align: center;
}
@media (max-width: 1000px) {
    .aviso, .importante{
        max-width: 50vh;
        width: 80cqw;

    }
}