.graph-container {
    width: 100%;
    .text {
        font-size: 1em;
        font-weight: bold;
        fill: var(--color-texto);
    }

}

@media (min-width: 1200px) {
    .graph-container {
        .text {
            font-size:1.5em;
        }
    }
}