:root{
    /* Paleta de colores de la página */
    --color-principal: #5C99C8;
    --color-secundario: #112636;
    --color-texto: #F6F6F6;
    --color-texto-secundario: #94a3b8;
    --color-fondo: #071016;
}